<style>
  .mk{
   font-weight: bolder;
   font-size:xx-large;
  }
</style>
<footer id="footer">
    <div class="container-lg padding-medium">
      <div class="row ">
        <div class="col-lg-8 my-4 ">
          <div class="footer-menu">
            <a class="navbar-brand mk" href="index.html">
              <!-- <img src="images/main-logo.png" class="logo img-fluid"> -->
              TeezCut

            </a>
            <p class="mt-4">Hic, dolor soluta, dolores laudantium reprehenderit ullam, similique voluptate omnis modi
              sit minima illo.</p>
            <ul class="info list-unstyled mt-4">

            </ul>
            <div class="social-links mt-4">
              <ul class="d-flex  list-unstyled gap-2 m-0">
                <li class="social">
                  <a href="#">
                    <iconify-icon class="social-icon" icon="ri:facebook-fill"></iconify-icon>
                  </a>
                </li>
                <li class="social">
                  <a href="#">
                    <iconify-icon class="social-icon" icon="ri:twitter-fill"></iconify-icon>
                  </a>
                </li>
                <li class="social">
                  <a href="#">
                    <iconify-icon class="social-icon" icon="ri:instagram-fill"></iconify-icon>
                  </a>
                </li>
                <li class="social">
                  <a href="#">
                    <iconify-icon class="social-icon" icon="ri:youtube-fill"></iconify-icon>
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </div>
    
        <div class="col-lg-2 my-4 ">
          <div class="footer-menu">
            <h6 class="text-uppercase fw-bold  mb-4">Services</h6>
            <ul class="menu-list list-unstyled">
              <li class="menu-item">
                <a href="#" class="footer-link">Payments</a>
              </li>
              <li class="menu-item">
                <a href="#" class="footer-link">Shipping</a>
              </li>
              <li class="menu-item">
                <a href="#" class="footer-link">Product returns </a>
              </li>
              <li class="menu-item">
                <a href="#" class="footer-link">FAQs</a>
              </li>
              <li class="menu-item">
                <a href="#" class="footer-link">Checkout</a>
              </li>
              <li class="menu-item">
                <a href="#" class="footer-link">other Issues</a>
              </li>
            </ul>
          </div>
        </div>
    
        <div class="col-lg-2 my-4 ">
          <div class="footer-menu">
            <h6 class="text-uppercase fw-bold  mb-4">Contact Us</h6>
            <ul class="info list-unstyled mt-4">
              <li class="clock text-capitalize mb-2 align-items-center">
                <svg class="text-primary me-1" width="18" height="18">
                  <use xlink:href="#clock"></use>
                </svg>8:00-18:00, Sat: Closed
              </li>
              <li class="location text-capitalize mb-2 align-items-center">
                <svg class="text-primary me-1" width="18" height="18">
                  <use xlink:href="#location"></use>
                </svg>Nigeria
              </li>

              <li class="phone text-capitalize mb-2 align-items-center">
                <svg class="text-primary me-1" width="18" height="18">
                  <use xlink:href="#phone"></use>
                </svg>000 000 9999
              </li>
              <li class="email text-capitalize mb-2 align-items-center">
                <svg class="text-primary me-1" width="18" height="18">
                  <use xlink:href="#email"></use>
                </svg>email@gmail.com
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-gray border-top">
      <div class="text-center py-4">
        <p class="mb-0">©2025 TeezCut: <a href="https://templatesjungle.com/"
            target="_blank" class="text-decoration-underline text-black">TeezCut</a></p>
      </div>
    </div>
  </footer>
    
  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/plugins.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>