

<body>
    <%- include('partials/header') %>
    <section id="slider">
      <div class="swiper slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide d-flex jarallax position-relative"
            style="background-image: url(images/banner-img1.jpg); background-size: cover; background-repeat: no-repeat; height: 90vh; background-position: center; height: 90vh;">
            <div class="banner-content text-center m-auto" data-aos="zoom-out">
              <h2 class="banner-title display-2 fw-normal text-white mb-4">Experience the Art of Grooming and Style</h2>
              <a href="appointment.html" class="btn btn-primary mt-3">Book an Appointment</a>
            </div>
          </div>
          <div class="swiper-slide d-flex jarallax position-relative"
            style="background-image: url(images/banner-img3.jpg); background-size: cover; background-repeat: no-repeat; height: 90vh; background-position: center; height: 90vh;">
            <div class="banner-content text-center m-auto" data-aos="zoom-out">
              <h2 class="banner-title display-2 fw-normal text-white mb-4">Refine Your Look with Expert Barbers</h2>
              <a href="appointment.html" class="btn btn-primary mt-3">Book an Appointment</a>
            </div>
          </div>
          <div class="swiper-slide d-flex jarallax position-relative"
            style="background-image: url(images/banner-img2.jpg); background-size: cover; background-repeat: no-repeat; height: 90vh; background-position: center; height: 90vh;">
            <div class="banner-content text-center m-auto" data-aos="zoom-out">
              <h2 class="banner-title display-2 fw-normal text-white mb-4">Classic Cuts & Modern Styles for Every
                Gentleman</h2>
              <a href="appointment.html" class="btn btn-primary mt-3">Book an Appointment</a>
            </div>
          </div>
        </div>
        <div class="position-absolute top-0 bottom-0 end-0 m-auto me-0 me-md-5 main-slider-button-next">
          <svg class="arrow-right light-color" width="60" height="60">
            <use xlink:href="#arrow-right"></use>
          </svg>
        </div>
        <div class="position-absolute top-0 bottom-0 start-0 m-auto ms-0 ms-md-5 main-slider-button-prev">
          <svg class="arrow-left light-color" width="60" height="60">
            <use xlink:href="#arrow-left"></use>
          </svg>
        </div>
      </div>
    </section>
  
    <section id="categories">
      <div class="container-lg padding-medium">
        <div class="row">
          <div class="col-md-3 my-3">
            <div class="text-center">
              <iconify-icon class="service-icon text-primary display-3"
                icon="solar:medal-ribbons-star-outline"></iconify-icon>
              <h3 class="py-2 ">10+ Years of Experience</h3>
              <p class="blog-paragraph">Lorem ipsum dolor sit amet, consectetur adipi elit. Lorem ipsum dolor sit.</p>
            </div>
          </div>
          <div class="col-md-3 my-3">
            <div class="text-center">
              <iconify-icon class="service-icon text-primary display-3" icon="ph:plant"></iconify-icon>
              <h3 class="py-2 ">100% natural Products</h3>
              <p class="blog-paragraph">Lorem ipsum dolor sit amet, consectetur adipi elit. Lorem ipsum dolor sit.</p>
            </div>
          </div>
          <div class="col-md-3 my-3">
            <div class="text-center">
              <iconify-icon class="service-icon text-primary display-3"
                icon="solar:chat-round-like-broken"></iconify-icon>
              <h3 class="py-2 ">12k+ Satisfied Clients</h3>
              <p class="blog-paragraph">Lorem ipsum dolor sit amet, consectetur adipi elit. Lorem ipsum dolor sit.</p>
            </div>
          </div>
          <div class="col-md-3 my-3">
            <div class="text-center">
              <iconify-icon class="service-icon text-primary display-3" icon="solar:people-nearby-outline"></iconify-icon>
              <h3 class="py-2 ">28 Specialistis Team</h3>
              <p class="blog-paragraph">Lorem ipsum dolor sit amet, consectetur adipi elit. Lorem ipsum dolor sit.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section id="services" class="jarallax"
      style="background-image: url(images/background-22.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;">
      <div class="container-lg padding-medium">
        <div class="section-title text-center mb-5">
          <h2 class="display-4 fw-normal text-white">Services We Offer</h2>
        </div>
  
        <div class="row g-lg-5 my-0">
          <div class="col-md-6 col-lg-3 my-4">
            <div class="text-center ">
              <a href="services-single.html">
                <div class="zoom-effect">
                  <img src="images/service-img5.jpg" class="img-fluid " alt="image" style="width:350px; height:316px; object-fit: cover;">
                </div>
              </a>
              <a href="services-single.html" class="hover-color">
                <h4 class="text-white mt-3 mb-2">Classic Haircuts</h4>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 my-4">
            <div class="text-center ">
              <a href="services-single.html">
                <div class="zoom-effect">
                  <img src="images/service-img3.jpg" class="img-fluid " alt="image" style="width:350px; height:316px; object-fit: cover">
                </div>
              </a>
              <a href="services-single.html" class="hover-color">
                <h4 class="text-white mt-3 mb-2">Beard Trimming & Styling</h4>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 my-4">
            <div class="text-center ">
              <a href="services-single.html">
                <div class="zoom-effect">
                  <img src="images/service-img7.jpg" class="img-fluid " alt="image" style="width:350px; height:316px; object-fit: cover">
                </div>
              </a>
              <a href="services-single.html" class="hover-color">
                <h4 class="text-white mt-3 mb-2">Hot Towel Shave</h4>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 my-4">
            <div class="text-center ">
              <a href="services-single.html">
                <div class="zoom-effect">
                  <img src="images/service-img8.jpg" class="img-fluid " alt="image" style="width:350px; height:316px; object-fit: cover">
                </div>
              </a>
              <a href="services-single.html" class="hover-color">
                <h4 class="text-white mt-3 mb-2">Hair Coloring & Highlights</h4>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 my-4">
            <div class="text-center ">
              <a href="services-single.html">
                <div class="zoom-effect">
                  <img src="images/service-img2.jpg" class="img-fluid" alt="image" style="width:350px; height:316px; object-fit: cover">
                </div>
              </a>
              <a href="services-single.html" class="hover-color">
                <h4 class="text-white mt-3 mb-2">Scalp Treatment & Massage</h4>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 my-4">
            <div class="text-center ">
              <a href="services-single.html">
                <div class="zoom-effect">
                  <img src="images/service-img1.jpg" class="img-fluid " alt="image" style="width:350px; height:316px; object-fit: cover">
                </div>
              </a>
              <a href="services-single.html" class="hover-color">
                <h4 class="text-white mt-3 mb-2">Men's Grooming Packages</h4>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 my-4">
            <div class="text-center ">
              <a href="services-single.html">
                <div class="zoom-effect">
                  <img src="images/service-img4.jpg" class="img-fluid " alt="image" style="width:350px; height:316px; object-fit: cover">
                </div>
              </a>
              <a href="services-single.html" class="hover-color">
                <h4 class="text-white mt-3 mb-2">Luxury Beard Treatment</h4>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 my-4">
            <div class="text-center ">
              <a href="services-single.html">
                <div class="zoom-effect">
                  <img src="images/service-img6.jpg" class="img-fluid " alt="image" style="width:350px; height:316px; object-fit: cover">
                </div>
              </a>
              <a href="services-single.html" class="hover-color">
                <h4 class="text-white mt-3 mb-2">Kids' Haircuts</h4>
              </a>
            </div>
          </div>
        </div>
  
        <div class="text-center">
          <a class="btn btn-light mt-5" href="services.html">See All Services</a>
        </div>
  
      </div>
      </div>
    </section>
  
    <section id="about-us">
      <div class="container-lg padding-medium ">
        <div class="row flex-row-reverse align-items-center justify-content-between">
          <div class="col-md-6">
            <div class="video my-5">
              <div class="video-content position-relative open-up">
                <div class="video-bg ">
                  <img src="images/about-img.jpg" alt="video" class="video-image img-fluid" style="width:550px; height:550px">
                </div>
                <div class="video-player position-absolute">
                  <a class="youtube cboxElement" href="https://www.instagram.com/p/DDymdo-scIs/">
                    <iconify-icon icon="ion:play-sharp" class="video-icon p-4"></iconify-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-5 mt-5 mt-md-0">
            <div class="section-title">
              <h2 class="display-4 fw-normal mb-3 text-capitalize">Most Trusted, Clean, and Recommended Barber Shop</h2>
            </div>
            <p>Experience the perfect blend of style, precision, and relaxation at our barber shop. Our expert barbers are
              dedicated to providing top-quality haircuts, beard trims, and grooming services that leave you looking and
              feeling your best.</p>
            <ul>
              <li>Skilled barbers offering the latest styles and trends.</li>
              <li>Premium grooming products for the best results.</li>
              <li>Relaxing ambiance with top-notch customer service.</li>
            </ul>
            <a class="btn btn-primary mt-3" href="about.html">About Us</a>
          </div>
  
        </div>
      </div>
    </section>

  
    <section id="price" class="jarallax"
      style="background-image: url(images/background-11.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;">
      <div class="container-lg padding-medium">
        <div class="section-title text-center mb-5">
          <h2 class="display-4 fw-normal text-white">Price Packages</h2>
        </div>
  
        <div class="row my-0">
          <div class="col-md-6 my-4">
            <div class="p-2 p-lg-5">
              <div class="list-group rounded-0">
                <a href="#"
                  class="border-0 bg-transparent list-group-item list-group-item-action d-lg-flex align-items-center gap-4 py-3"
                  aria-current="true">
                  <img src="images/service-img3.jpg" alt="twbs" width="100" height="100"
                    class="rounded-circle flex-shrink-0 mb-3 mb-lg-0">
                  <div class="">
                    <div class="d-flex gap-4 w-100 justify-content-between">
                      <h4 class="fw-semibold text-white">Men’s Haircut</h4>
                      <h4 class="fw-semibold text-white">₦130.00</h4>
                    </div>
                    <p class="mb-0 opacity-75 text-white">Get a fresh, stylish cut tailored to your look. Includes
                      consultation, wash, and styling.</p>
                  </div>
                </a>
                <a href="#"
                  class="border-0 bg-transparent list-group-item list-group-item-action d-lg-flex align-items-center gap-4 py-3"
                  aria-current="true">
                  <img src="images/service-img2.jpg" alt="twbs" width="100" height="100"
                    class="rounded-circle flex-shrink-0 mb-3 mb-lg-0">
                  <div>
                    <div class="d-flex gap-4 w-100 justify-content-between">
                      <h4 class="fw-semibold text-white">Beard Trim & Shaping</h4>
                      <h4 class="fw-semibold text-white">₦100.00</h4>
                    </div>
                    <p class="mb-0 opacity-75 text-white">Expert beard grooming to achieve the perfect shape and style for
                      your face.</p>
                  </div>
                </a>
                <a href="#"
                  class="border-0 bg-transparent list-group-item list-group-item-action d-lg-flex align-items-center gap-4 py-3"
                  aria-current="true">
                  <img src="images/service-img1.jpg" alt="twbs" width="100" height="100"
                    class="rounded-circle flex-shrink-0 mb-3 mb-lg-0">
                  <div>
                    <div class="d-flex gap-4 w-100 justify-content-between">
                      <h4 class="fw-semibold text-white">Hot Towel Shave</h4>
                      <h4 class="fw-semibold text-white">₦120.00</h4>
                    </div>
                    <p class="mb-0 opacity-75 text-white">A relaxing hot towel shave with premium oils and aftershave for
                      a smooth finish.</p>
                  </div>
                </a>
                <a href="#"
                  class="border-0 bg-transparent list-group-item list-group-item-action d-lg-flex align-items-center gap-4 py-3"
                  aria-current="true">
                  <img src="images/service-img4.jpg" alt="twbs" width="100" height="100"
                    class="rounded-circle flex-shrink-0 mb-3 mb-lg-0">
                  <div>
                    <div class="d-flex gap-4 w-100 justify-content-between">
                      <h4 class="fw-semibold text-white">Scalp Treatment</h4>
                      <h4 class="fw-semibold text-white">₦180.00</h4>
                    </div>
                    <p class="mb-0 opacity-75 text-white">Revitalize your scalp with a deep cleansing and nourishing
                      treatment for healthier hair growth.</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 my-4">
            <div class="p-2 p-md-5">
              <div class="list-group rounded-0">
                <a href="#"
                  class="border-0 bg-transparent list-group-item list-group-item-action d-lg-flex align-items-center gap-4 py-3"
                  aria-current="true">
                  <img src="images/service-img5.jpg" alt="twbs" width="100" height="100"
                    class="rounded-circle flex-shrink-0 mb-3 mb-lg-0">
                  <div>
                    <div class="d-flex gap-4 w-100 justify-content-between">
                      <h4 class="fw-semibold text-white">Hair Coloring</h4>
                      <h4 class="fw-semibold text-white">₦120.00</h4>
                    </div>
                    <p class="mb-0 opacity-75 text-white">Professional hair coloring services for a bold new look or
                      subtle touch-ups.</p>
                  </div>
                </a>
                <a href="#"
                  class="border-0 bg-transparent list-group-item list-group-item-action d-lg-flex align-items-center gap-4 py-3"
                  aria-current="true">
                  <img src="images/service-img7.jpg" alt="twbs" width="100" height="100"
                    class="rounded-circle flex-shrink-0 mb-3 mb-lg-0">
                  <div>
                    <div class="d-flex gap-4 w-100 justify-content-between">
                      <h4 class="fw-semibold text-white">Keratin Treatment</h4>
                      <h4 class="fw-semibold text-white">₦130.00</h4>
                    </div>
                    <p class="mb-0 opacity-75 text-white">Smooth and strengthen your hair with our keratin treatment for a
                      sleek look.</p>
                  </div>
                </a>
                <a href="#"
                  class="border-0 bg-transparent list-group-item list-group-item-action d-lg-flex align-items-center gap-4 py-3"
                  aria-current="true">
                  <img src="images/service-img6.jpg" alt="twbs" width="100" height="100"
                    class="rounded-circle flex-shrink-0 mb-3 mb-lg-0">
                  <div>
                    <div class="d-flex gap-4 w-100 justify-content-between">
                      <h4 class="fw-semibold text-white">Hair Styling</h4>
                      <h4 class="fw-semibold text-white">₦100.00</h4>
                    </div>
                    <p class="mb-0 opacity-75 text-white">Whether it’s a casual look or something for a special occasion,
                      we’ve got you covered.</p>
                  </div>
                </a>
                <a href="#"
                  class="border-0 bg-transparent list-group-item list-group-item-action d-lg-flex align-items-center gap-4 py-3"
                  aria-current="true">
                  <img src="images/service-img8.jpg" alt="twbs" width="100" height="100"
                    class="rounded-circle flex-shrink-0 mb-3 mb-lg-0">
                  <div>
                    <div class="d-flex gap-4 w-100 justify-content-between">
                      <h4 class="fw-semibold text-white">Head Massage</h4>
                      <h4 class="fw-semibold text-white">₦180.00</h4>
                    </div>
                    <p class="mb-0 opacity-75 text-white">Relax and unwind with a soothing head massage that promotes
                      circulation and hair health.</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
  
  
      </div>
      </div>
    </section>
  
    <section id="gallery">
      <div class="container-lg padding-medium ">
        <h2 class="display-4 fw-normal text-center mb-5">View gallery</h2>
        <div class="row entry-container">
  
          <div class="entry-item col-md-4 my-3">
            <a href="images/post-3.jpg" title="photo" class="image-link"><img src="images/post-3.jpg"
                class=" post-image img-fluid" ></a>
          </div>
          <div class="entry-item col-md-4 my-3">
            <a href="images/post-6.jpg" title="photo" class="image-link"><img src="images/post-6.jpg"
                class=" post-image img-fluid"></a>
          </div>
          <div class="entry-item col-md-4 my-3">
            <a href="images/post-2.jpg" title="photo" class="image-link"><img src="images/post-2.jpg"
                class=" post-image img-fluid"></a>
          </div>
          <div class="entry-item col-md-4 my-3">
            <a href="images/post-4.jpg" title="photo" class="image-link"><img src="images/post-4.jpg"
                class=" post-image img-fluid"></a>
          </div>
          <div class="entry-item col-md-4 my-3">
            <a href="images/post-5.jpg" title="photo" class="image-link"><img src="images/post-5.jpg"
                class=" post-image img-fluid"></a>
          </div>
  
          <div class="entry-item col-md-4 my-3">
            <a href="images/post-1.jpg" title="photo" class="image-link"><img src="images/post-1.jpg"
                class=" post-image img-fluid"></a>
          </div>
  
        </div>
        <div class="text-center">
          <a class="btn btn-primary mt-5" href="gallery.html">View Gallery</a>
        </div>
      </div>
    </section>
  
    <section id="testimonial" class="jarallax" style="background-image: url('images/testimonial-bg.jpg');">   
      <div class="container-lg padding-medium">
  
        <div class="offset-md-2 col-md-8">
          <div class="swiper testimonial-swiper py-3 py-md-5 bg-white shadow-sm">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="review px-md-5">
                  <div class="review-content px-5 d-lg-flex align-items-center ">
                    <img src="images/team1.jpg" alt="reviewer" class="img-fluid rounded-circle" style="width:200px; height:200px">
                    <div class="ms-md-4 mt-3 mt-lg-0">
                      <p>“Pretium turpis faucibus adipiscing duis. Id quis tristique mi vitae nec. In et in praesent
                        pellentesque. Porta sit porta ridiculus faucibus. Curabitur lacus pretium pellentesque interdum
                        urna blandit.”</p>
                      <h2 class="name m-0 lh-sm">Jenny Will</h3>
                        <p class="m-0">Hanay mom</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="review px-md-5">
                  <div class="review-content px-5 d-lg-flex align-items-center ">
                    <img src="images/team2.jpg" alt="reviewer" class="img-fluid rounded-circle" style="width:200px; height:200px;">
                    <div class="ms-md-4 mt-3 mt-lg-0">
                      <p>“Pretium turpis faucibus adipiscing duis. Id quis tristique mi vitae nec. In et in praesent
                        pellentesque. Porta sit porta ridiculus faucibus. Curabitur lacus pretium pellentesque interdum
                        urna blandit.”</p>
                      <h2 class="name m-0 lh-sm">Emily Smith</h3>
                        <p class="m-0">Serene mom</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="review px-md-5">
                  <div class="review-content px-5 d-lg-flex align-items-center ">
                    <img src="images/team3.jpg" alt="reviewer" class="img-fluid rounded-circle" style="width:200px; height:200px;">
                    <div class="ms-md-4 mt-3 mt-lg-0">
                      <p>“Pretium turpis faucibus adipiscing duis. Id quis tristique mi vitae nec. In et in praesent
                        pellentesque. Porta sit porta ridiculus faucibus. Curabitur lacus pretium pellentesque interdum
                        urna blandit.”</p>
                      <h2 class="name m-0 lh-sm">Noran Shara</h3>
                        <p class="m-0">Sam mom</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination position-relative pt-4 pt-md-5"></div>
          </div>
        </div>
  
      </div>
      </div>
    </section>
  

  
    <section id="appointment" class="jarallax"
      style="background-image: url(images/background-22.jpg); background-repeat: no-repeat; background-position: center;">
  
      <div class="container-lg padding-medium">
  
        <div class="offset-md-3 col-md-6 text-center ">
  
          <h2 class="display-4 fw-normal text-white mb-3">Make An Appointment</h2>
          <p class=" text-white">Call: 666 333 9999 or Fill in the form below</p>
  
  
          <form class="contact-form row mt-5">
  
            <div class="form-input col-lg-12 d-md-flex mb-3">
              <input type="text" name="name" placeholder="Write Your Name Here"
                class="form-control w-100 rounded-0 border-0 ps-4 py-3 mb-2 me-3">
              <input type="text" name="email" placeholder="Write Your Email Here"
                class="form-control w-100 rounded-0 border-0 ps-4 py-3 mb-2">
            </div>
  
            <div class="form-input col-lg-12 d-md-flex mb-3">
              <input type="number" name="phone" placeholder="Contact number"
                class="form-control w-100 rounded-0 border-0 ps-4 py-3 mb-2 me-3">
              <input type="number" name="person" placeholder="No of People"
                class="form-control w-100 rounded-0 border-0 ps-4 py-3 mb-2 ">
            </div>
            <div class="form-input col-lg-12 d-md-flex mb-3">
              <input type="date" name="phone" placeholder="Contact number"
                class="form-control w-100 rounded-0 border-0 ps-4 py-3 mb-2 me-3">
              <input type="time" name="person" placeholder="No of People"
                class="form-control w-100 rounded-0 border-0 ps-4 py-3 mb-2 ">
            </div>
  
            <div class="col-md-12 col-sm-12 mb-4">
              <textarea type="text" name="message" placeholder="Your message" rows="4"
                class="w-100 border-0 ps-4 py-2  "></textarea>
            </div>
          </form>
  
          <button class="btn btn-light mt-3" href="#">Book Now</button>
        </div>
  
      </div>
      </div>
    </section>
  
    <%- include('partials/footer') %>



